<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ایجاد لیست</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="css/bootstrap.min.css" type="text/css">
    <link href="css/bootstrap-rtl.min.css" type="text/css">
    <link href="css/style.css" type="text/css">
</head>

<body>
<div id="app">
    <div class="row">
        <div class="col-lg-12">
            <input type="text" class="form-control" v-model="newUser" placeholder="کار جدید" v-on:keyup.enter="addUser">
            <ul class="list-group">
                <li class="list-group-item" v-for="(name,index) in users" >
                    <a href="#" v-on:click ="removeuser(index)"> {{ name }}</a>
                </li>
            </ul>
            <div class="list-group" v-for="(article,index) in articles" >
                <a class="list-group-item" href="#" v-on:click ="removearticle(index)" >{{ article.title }}</a>
                <p>{{ article.content }}</p>
            </div>
        </div>
    </div>
</div>


<script src="https://unpkg.com/vue@2.5.16/dist/vue.js"></script>
<script type="text/javascript">
    // document.querySelector("#app input").value = "hello vue";
    // document.querySelector("#app p").innerText = "hello vue";
    var app = new Vue({
        el: '#app',
        data: {
            newUser : '',
            users : ['reza','ahmad','batol'],
            articles : [
                {
                    title : "project 1",
                    content : "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. "
                },
                {
                    title : "project 2",
                    content : "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. "
                },
                {
                    title : "project 3",
                    content : "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. "
                },
                {
                    title : "project 4",
                    content : "لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. "
                }
            ]
        },
        methods : {
            addUser() {
                if(this.newUser != '') {
                    this.users.push(this.newUser);
                    this.newUser = '';
                }
            },
            removeuser(index) {
                this.users.splice(index,1);
            },
            removearticle(index) {
                this.articles.splice(index,1);
            }
        },
    })
</script>

</body>
</html>
